table{
    /* border: 2px solid red; */
}

th{
    border-bottom: 1px solid green;
}

th, td{
    border-right: 1px solid green;
}
.hide{
    visibility: hidden;
}

.sci-table{
    display: flex;
    margin-top: 10px;
}

.sci-table div{
    border-right: 1px solid green;
    border-bottom: 2px solid green;
}